
{% extends "_base.html" %}

{% block content %}
<div class="container">

<h3> składniki: </h3>
{% for ingredient in to_print %}
<ul> {{ingredient}} </ul>
{% endfor %}

<h3> dodaj nowy składnik</h3>
<form action="/dish/{{dish_id}}/add/ingredient" method="post">
        <label for="ilosc"> Ilość (w gramach): </label>
        <input type="number" required = "required" name="ilosc"><br>
        <label for="product"> Produkt: </label>
        <select name="product">
            {% for p in products_list %}
                <option value={{p['id']}}>{{p['name']}}</option>
            {% endfor %}
        </select>

    <button type="submit">Dodaj</button>
</form>

<a href ="/list_of_dishes">Gotowe</a>
</div>
{% endblock %}