
{% extends "_base.html" %}

{% block content %}
<div class="container">

<h1>Wyszukiwanie potraw na podstawie kaloryczności:</h1>

<form action="/dish/find/calories" method="post">
        <label for="min_cal"> minimalna kaloryczność na 100 g: </label>
        <input type="number" step="0.01" min="0" required="required" name="min_cal"><br>
        <label for="max_cal"> maksymalna kaloryczność na 100 g: </label>
        <input type="number" step="0.01" min="0" required="required" name="max_cal"><br>
        <button type="submit" class="btn btn-dark">Wyszukaj</button>
</form>


</div>
{% endblock %}

