{% extends "_base.html" %}

{% set page_id = 'info' %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h3>ZARZĄDZANIE DIETĄ</h3>
      Cześć! <br>
      W naszej aplikacji pomożemy Ci zarządzać jak najlepiej Twoją dietą.<br>
      Powiemy Ci, ile codziennie zjadasz kalorii.<br>
      Dowiesz się, ile zjadasz białka, tłuszczu, a ile węglowodanów.<br>
      Podpowiemy Ci, o co najbardziej powinieneś zadbać w swojej diecie.<br>
      <br>
      Aby korzytać z naszej aplikacji musisz być zalogowany.<br>
      Jeśli nie masz konta - koniecznie zarejestruj się!
    </div>
  </div>
{% endblock %}
