
{% extends "_base.html" %}

{% block content %}
<div class="container">

<h1>   Cześć {{current_user.name}} </h1>
{% if list | length == 0 %}

Nie masz żadnych posiłków na liście.
Czy chcesz dodać pierwszy posiłek?
<a href ="/meal/add">Tak</a>

{% else %}

<h1> Lista Twoich posiłków: </h1>

<table border>
    <tr>
        <th> data </th>
        <th> szczegóły </th>


    </tr>
    {% for meal in list %}
    <tr>
        <td> {{ meal['date'] }} </td>
        <td> <a href="meal/{{ meal['id']}}">kliknij</a></td>


    </tr>
    {% endfor %}
</table>
<br>

<h3> Czy chcesz dodać posiłki z innego dnia? </h3>
    <a href ="/meal/add">Tak</a>
{% endif %}
</div>
{% endblock %}