
{% extends "_base.html" %}

{% block content %}
<div class="container">

<h1>   Cześć {{current_user.name}} </h1>
    Twoje BMI wynosi {{bmi}} i wskazuje na {{diagnose}}.
<br>


    {% if suggestion == less %}
    Spróbuj ogranicznyć liczbę spożywanych kalorii i poprawić jakość posiłków.

    {% elif suggestion == "equal" %}
    Zadbaj, żeby Twoje posiłki były zdrowe i zawierały wszystkie niezbędne składniki. Ich kaloryczność jest w sam raz.

    {% elif suggestion == "more" %}
    Spróbuj zwiększyć kaloryczność swoich posiłków. Równocześnie pilnuj, żeby były zdrowe i zawierały wszystkie niezbędne składniki.

    {% else %}
    Z powodu niedostatecznych informacji nie możemy zaproponować ci żadnego rozwiązania. Skontaktuj się z naszymi patronami w celu wyjaśnienia problemu.

    {% endif %}
<br>
<br>
    Zapraszamy do kontaktu z naszymi patronami, którzy pomogą przygotować dla Ciebie idealną dietę.
<br>
<br>

{% if list | length == 0 %}

Nie masz żadnych posiłków na liście.
Czy chcesz dodać pierwszy posiłek?
<a href ="/meal/add">Tak</a>

{% else %}

<h1> Lista Twoich posiłków: </h1>
<table class="table table-sm table-striped">
  <thead class="thead-dark">

    <tr>
        <th> data </th>
        <th> szczegóły </th>


    </tr>
  </thead>
    {% for meal in list %}
    <tr>
        <td> {{ meal['date'] }} </td>
        <td> <a href="meal/{{ meal['id']}}">kliknij</a></td>


    </tr>
    {% endfor %}
</table>
<br>

<h3> Czy chcesz dodać posiłki z innego dnia? </h3>
    <a href ="/meal/add">Tak</a>
{% endif %}
</div>
{% endblock %}