
{% extends "_base.html" %}

{% block content %}
<div class="container">
<h1> Lista potraw: </h1>

<table border>
    <tr>
        <th> nazwa </th>
        <th> szczegóły </th>


    </tr>
    {% for dish in list %}
    <tr>
        <td> {{ dish['name'] }} </td>
        <td> <a href="dish/{{ dish['id']}}">kliknij</a></td>


    </tr>
    {% endfor %}
</table>
<br>
<h3> Czy chcesz dodać nową potrawę? </h3>
    <a href="/dish/add">Tak</a>

<h3> Czy chcesz zobaczyć listę produktów? </h3>
    <a href ="/products">Tak</a>

<h3> Czy chcesz dodać posiłek? </h3>
    <a href ="/meal/add">Tak</a>

</div>
{% endblock %}