
{% extends "_base.html" %}

{% block content %}

<div class="container">

<h1> posiłki z dnia {{meal['date']}}: </h1>

<br>

<h3> potrawy zjedzone w dniu dzisiejszym: </h3>
{% for portion in to_print %}
<ul> {{portion}} </ul>
{% endfor %}

<h3> wartości odżywcze zjedzonych potraw: </h3>

<ul> {{parameters[0]}} gramów </ul>
<ul> {{parameters[1]}} kalorii </ul>
<ul> {{parameters[2]}} białka </ul>
<ul> {{parameters[3]}} tłuszczu </ul>
<ul> {{parameters[4]}} węglowodanów </ul>


<h3> Zapomniałem, że zjadłem jeszcze coś... </h3>

<a href ="/meal/{{id}}/add/portion"><button type="button" class="btn btn-dark">Dodaj</button></a>

</div>
{% endblock %}