<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>products</title>
    <link rel="stylesheet" href="static/css/bootstrap.css">
</head>
<body>
<div class="container">

<h1>Lista produktów:</h1>


<table class="table table-dark">
    <tr>
        <th> nazwa </th>
        <th> kalorie </th>
        <th> białko </th>
        <th> tłuszcze </th>
        <th> węglowodany </th>
        <th> szczegóły </th>


    </tr>
    {% for product in products %}
    <tr>
        <td> {{ product['name'] }} </td>
        <td> {{ product['calories'] }} </td>
        <td> {{ product['protein'] }} </td>
        <td> {{ product['fat'] }} </td>
        <td> {{ product['carbohydrates'] }} </td>
        <td> <a href="product/{{ product['id']}}">kliknij</a></td>


    </tr>
    {% endfor %}
</table>


<h1>Dodaj nowy produkt:</h1>

<form action="/products" method="post">
    <div class="form-group">
        <label for="nazwa"> Nazwa: </label>
        <input class="form-control" type="text" required = "required" name="nazwa"><br>
    </div>
        <label for="kalorie"> Kalorie (na 100 g): </label>
        <input type="number" required = "required" name = "kalorie"><br>
        <label for="bialko"> Białko (na 100 g): </label>
        <input type="number" required = "required" name = "bialko"><br>
        <label for="tluszcze"> Tłuszcze (na 100 g): </label>
        <input type="number" required = "required" name = "tluszcze"><br>
        <label for="weglowodany"> Węglowodany (na 100 g): </label>
        <input type="number" required = "required" name = "weglowodany"><br>
        <button type="submit">Wyślij</button>
</form>

    <br>
<h1> Lista potraw:</h1>
 <a href ="/list_of_dishes">kliknij</a>

</div>
</body>
</html>