  {% extends "_base.html" %}

  {% set page_id = 'register' %}

  {% block content %}
    <div class="container">
        <h3>Rejestracja:</h3>
        <form method="post" action="/new-user">
          <div class="form-group row">
            <label class="col-md-2" for="user_email">E-mail:</label>
            <div class="col-md-10">
              <input
                      class="form-control"
                      id="user_email"
                      type="email"
                      maxlength="30"
                      minlength="3"
                      name="user_email"
                      required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2" for="user_password">Hasło:</label>
            <div class="col-md-10">
              <input
                      class="form-control"
                      id="user_password"
                      type="password"
                      maxlength="30"
                      minlength="3"
                      name="user_password"
                      required>
            </div>
          </div>
          <div class="form-group">
            <input type="checkbox" required>
            Wyrażam zgodę na przetwarzanie moich danych osobowych.
          </div>
          <button class="btn btn-primary" type="submit">Zarejestruj się</button>
        </form>
    </div>
  {% endblock %}
